Repository waic/wcag20, pull requests merged in 2018-05, with the labels that each got.

#128 UnderstandingクオリティレビューSC3.3.3
  wcag20/sources/understanding/minimize-error-suggestions.xml
Labels: Understandingクオリティレビュー

#129 UnderstandingクオリティレビューSC3.3.4
  wcag20/sources/understanding/minimize-error-reversible.xml
Labels: Understandingクオリティレビュー

#130 UnderstandingクオリティレビューSC3.3.5
  wcag20/sources/understanding/minimize-error-context-help.xml
Labels: Understandingクオリティレビュー

#158 G153の空になっていた事例の訳出
  wcag20/sources/techniques/general/G153.xml
Labels: Techniques

#162 SC1.4.2の余分な読点を削除
  wcag20/sources/wcag2-src.REC.xml
Labels: WCAG 2.0本体

#159 F68のタイトルの調整
  wcag20/sources/techniques/failures/F68.xml
Labels: Techniques

#164 リンクの修正
  wcag20/sources/guide-to-wcag2-src.xml
  wcag20/sources/slices-techniques-common.xsl
  wcag20/sources/slices-understanding-common.xsl
  wcag20/sources/wcag20-merged-techs.xml
Labels: Techniques, Understanding

#172 #171 video descriptionの訳の訂正
  wcag20/sources/understanding/media-equiv-av-only-alt.xml
Labels: Understanding

#161 達成方法集の訳抜けの修正
  wcag20/sources/techniques/failures/F16.xml
  wcag20/sources/techniques/failures/F19.xml
  wcag20/sources/techniques/failures/F7.xml
  wcag20/sources/techniques/general/G10.xml
  wcag20/sources/techniques/general/G105.xml
  wcag20/sources/techniques/general/G11.xml
  wcag20/sources/techniques/general/G142.xml
  wcag20/sources/techniques/general/G143.xml
  wcag20/sources/techniques/general/G144.xml
  wcag20/sources/techniques/general/G150.xml
  wcag20/sources/techniques/general/G152.xml
  wcag20/sources/techniques/general/G155.xml
  wcag20/sources/techniques/general/G174.xml
  wcag20/sources/techniques/general/G177.xml
  wcag20/sources/techniques/general/G180.xml
  wcag20/sources/techniques/general/G181.xml
  wcag20/sources/techniques/general/G185.xml
  wcag20/sources/techniques/general/G187.xml
  wcag20/sources/techniques/general/G191.xml
  wcag20/sources/techniques/general/G192.xml
  wcag20/sources/techniques/general/G193.xml
  wcag20/sources/techniques/general/G194.xml
  wcag20/sources/techniques/general/G197.xml
  wcag20/sources/techniques/general/G198.xml
  wcag20/sources/techniques/general/G4.xml
  wcag20/sources/techniques/general/G75.xml
  wcag20/sources/techniques/general/G83.xml
  wcag20/sources/techniques/general/G84.xml
  wcag20/sources/techniques/general/G85.xml
  wcag20/sources/techniques/general/G98.xml
  wcag20/sources/techniques/general/G99.xml
Labels: Techniques

#168 訳注の修正
  wcag20/sources/techniques/aria/ARIA7.xml
  wcag20/sources/techniques/aria/ARIA8.xml
  wcag20/sources/techniques/css/C12.xml
  wcag20/sources/techniques/css/C13.xml
  wcag20/sources/techniques/css/C14.xml
  wcag20/sources/techniques/css/C22.xml
  wcag20/sources/techniques/css/C9.xml
  wcag20/sources/techniques/failures/F22.xml
  wcag20/sources/techniques/failures/F49.xml
  wcag20/sources/techniques/failures/F65.xml
  wcag20/sources/techniques/general/G14.xml
  wcag20/sources/techniques/general/G145.xml
  wcag20/sources/techniques/general/G146.xml
  wcag20/sources/techniques/general/G153.xml
  wcag20/sources/techniques/general/G160.xml
  wcag20/sources/techniques/general/G169.xml
  wcag20/sources/techniques/general/G17.xml
  wcag20/sources/techniques/general/G18.xml
  wcag20/sources/techniques/general/G21.xml
  wcag20/sources/techniques/general/G54.xml
  wcag20/sources/techniques/general/G56.xml
  wcag20/sources/techniques/general/G57.xml
  wcag20/sources/techniques/general/G81.xml
  wcag20/sources/techniques/html/H24.xml
  wcag20/sources/techniques/html/H33.xml
  wcag20/sources/techniques/html/H42.xml
  wcag20/sources/techniques/html/H44.xml
  wcag20/sources/techniques/html/H56.xml
  wcag20/sources/techniques/html/H69.xml
  wcag20/sources/techniques/html/H91.xml
  wcag20/sources/techniques/server-side-script/SVR5.xml
Labels: Techniques, 訳注対応

#170 text alternativeに対する訳語の修正
  wcag20/Techniques/ua-notes/aria.html
  wcag20/Techniques/ua-notes/flash.html
  wcag20/Techniques/ua-notes/html.html
  wcag20/Techniques/ua-notes/pdf.html
  wcag20/sources/techniques/aria/ARIA10.xml
  wcag20/sources/techniques/aria/ARIA15.xml
  wcag20/sources/techniques/failures/F13.xml
  wcag20/sources/techniques/failures/F20.xml
  wcag20/sources/techniques/failures/F3.xml
  wcag20/sources/techniques/failures/F65.xml
  wcag20/sources/techniques/failures/F71.xml
  wcag20/sources/techniques/failures/F72.xml
  wcag20/sources/techniques/failures/F74.xml
  wcag20/sources/techniques/failures/F75.xml
  wcag20/sources/techniques/flash/FLASH1.xml
  wcag20/sources/techniques/flash/FLASH11.xml
  wcag20/sources/techniques/flash/FLASH2.xml
  wcag20/sources/techniques/flash/FLASH28.xml
  wcag20/sources/techniques/flash/FLASH3.xml
  wcag20/sources/techniques/flash/FLASH30.xml
  wcag20/sources/techniques/flash/FLASH5.xml
  wcag20/sources/techniques/flash/FLASH6.xml
  wcag20/sources/techniques/flash/FLASH9.xml
  wcag20/sources/techniques/general/G100.xml
  wcag20/sources/techniques/general/G103.xml
  wcag20/sources/techniques/general/G128.xml
  wcag20/sources/techniques/general/G14.xml
  wcag20/sources/techniques/general/G143.xml
  wcag20/sources/techniques/general/G150.xml
  wcag20/sources/techniques/general/G158.xml
  wcag20/sources/techniques/general/G159.xml
  wcag20/sources/techniques/general/G196.xml
  wcag20/sources/techniques/general/G197.xml
  wcag20/sources/techniques/general/G68.xml
  wcag20/sources/techniques/general/G73.xml
  wcag20/sources/techniques/general/G74.xml
  wcag20/sources/techniques/general/G82.xml
  wcag20/sources/techniques/general/G92.xml
  wcag20/sources/techniques/general/G94.xml
  wcag20/sources/techniques/general/G95.xml
  wcag20/sources/techniques/html/H2.xml
  wcag20/sources/techniques/html/H24.xml
  wcag20/sources/techniques/html/H30.xml
  wcag20/sources/techniques/html/H35.xml
  wcag20/sources/techniques/html/H37.xml
  wcag20/sources/techniques/html/H45.xml
  wcag20/sources/techniques/html/H46.xml
  wcag20/sources/techniques/html/H53.xml
  wcag20/sources/techniques/html/H54.xml
  wcag20/sources/techniques/html/H67.xml
  wcag20/sources/techniques/html/H86.xml
  wcag20/sources/techniques/pdf/PDF1.xml
  wcag20/sources/understanding/consistent-behavior-consistent-functionality.xml
  wcag20/sources/understanding/content-structure-separation-programmatic.xml
  wcag20/sources/understanding/text-equiv-all.xml
Labels: Techniques, Understanding

#174 ヘッダー/フッターへの修正
  wcag20/Techniques/ua-notes/failures.html
  wcag20/Techniques/ua-notes/pdf.html
  wcag20/Techniques/ua-notes/server-side-script.html
  wcag20/sources/techniques/failures/F58.xml
  wcag20/sources/techniques/failures/F91.xml
  wcag20/sources/techniques/pdf/PDF14.xml
  wcag20/sources/techniques/pdf/PDF20.xml
  wcag20/sources/techniques/pdf/PDF3.xml
  wcag20/sources/techniques/pdf/PDF4.xml
  wcag20/sources/techniques/pdf/PDF6.xml
  wcag20/sources/techniques/pdf/PDF7.xml
  wcag20/sources/techniques/pdf/PDF8.xml
  wcag20/sources/techniques/pdf/PDF9.xml
  wcag20/sources/techniques/server-side-script/SVR3.xml
Labels: Techniques, 訳語検討

#177 linktype=examplesの参照URLをW3Cに修正
  wcag20/sources/techniques/failures/F90.xml
  wcag20/sources/techniques/failures/F91.xml
  wcag20/sources/techniques/silverlight/SL1.xml
  wcag20/sources/techniques/silverlight/SL10.xml
  wcag20/sources/techniques/silverlight/SL11.xml
  wcag20/sources/techniques/silverlight/SL13.xml
  wcag20/sources/techniques/silverlight/SL14.xml
  wcag20/sources/techniques/silverlight/SL15.xml
  wcag20/sources/techniques/silverlight/SL16.xml
  wcag20/sources/techniques/silverlight/SL17.xml
  wcag20/sources/techniques/silverlight/SL18.xml
  wcag20/sources/techniques/silverlight/SL19.xml
  wcag20/sources/techniques/silverlight/SL2.xml
  wcag20/sources/techniques/silverlight/SL20.xml
  wcag20/sources/techniques/silverlight/SL21.xml
  wcag20/sources/techniques/silverlight/SL22.xml
  wcag20/sources/techniques/silverlight/SL23.xml
  wcag20/sources/techniques/silverlight/SL24.xml
  wcag20/sources/techniques/silverlight/SL25.xml
  wcag20/sources/techniques/silverlight/SL26.xml
  wcag20/sources/techniques/silverlight/SL27.xml
  wcag20/sources/techniques/silverlight/SL29.xml
  wcag20/sources/techniques/silverlight/SL3.xml
  wcag20/sources/techniques/silverlight/SL30.xml
  wcag20/sources/techniques/silverlight/SL31.xml
  wcag20/sources/techniques/silverlight/SL34.xml
  wcag20/sources/techniques/silverlight/SL35.xml
  wcag20/sources/techniques/silverlight/SL4.xml
  wcag20/sources/techniques/silverlight/SL5.xml
  wcag20/sources/techniques/silverlight/SL6.xml
  wcag20/sources/techniques/silverlight/SL7.xml
  wcag20/sources/techniques/silverlight/SL8.xml
  wcag20/sources/techniques/silverlight/SL9.xml
Labels: Techniques
