Repository waic/wcag20, pull requests merged in 2018-12, with the labels that each got.

#275 Java・Flashプラグインの訳注の追加
  wcag20/sources/techniques/failures/F7.xml
  wcag20/sources/techniques/html/H35.xml
Labels: Techniques, 訳注対応

#282 title属性への訳注の追加
  wcag20/sources/techniques/html/H33.xml
  wcag20/sources/techniques/html/H65.xml
  wcag20/sources/techniques/html/H89.xml
Labels: Techniques, 訳注対応

#291 noembed要素への訳注の追加
  wcag20/sources/techniques/html/H46.xml
Labels: Techniques, 訳注対応

#296 Internet Explorerに関する訳注の追加
  wcag20/sources/techniques/general/G123.xml
  wcag20/sources/techniques/general/G142.xml
  wcag20/sources/techniques/general/G156.xml
  wcag20/sources/understanding/visual-audio-contrast-scale.xml
Labels: Techniques, Understanding, 訳注対応

#302 DOM Standardへの訳注の追加
  wcag20/sources/techniques/client-side-script/SCR29.xml
  wcag20/sources/techniques/client-side-script/SCR35.xml
Labels: Techniques, 訳注対応

#305 解説書・達成方法集から解説書へのリンクの修正
  wcag20/sources/techniques/aria.xml
  wcag20/sources/techniques/client-side-script/SCR36.xml
  wcag20/sources/techniques/css/C30.xml
  wcag20/sources/techniques/css/C7.xml
  wcag20/sources/techniques/flash/FLASH24.xml
  wcag20/sources/techniques/general/G160.xml
  wcag20/sources/techniques/general/G172.xml
  wcag20/sources/techniques/general/G174.xml
  wcag20/sources/techniques/general/G178.xml
  wcag20/sources/techniques/general/G182.xml
  wcag20/sources/techniques/general/G188.xml
  wcag20/sources/techniques/general/G189.xml
  wcag20/sources/techniques/general/G191.xml
  wcag20/sources/techniques/general/G206.xml
  wcag20/sources/techniques/general/G62.xml
  wcag20/sources/techniques/html/H70.xml
  wcag20/sources/techniques/html/H95.xml
  wcag20/sources/understanding/conformance.xml
  wcag20/sources/understanding/consistent-behavior-consistent-functionality.xml
  wcag20/sources/understanding/keyboard-operation-all-funcs.xml
  wcag20/sources/understanding/minimize-error-identified.xml
  wcag20/sources/understanding/minimize-error-reversible-all.xml
  wcag20/sources/understanding/navigation-mechanisms-link.xml
  wcag20/sources/understanding/navigation-mechanisms-refs.xml
  wcag20/sources/understanding/navigation-mechanisms-title.xml
  wcag20/sources/understanding/time-limits-server-timeout.xml
  wcag20/sources/wcag20-merged-techs.xml
  wcag20/sources/xmlspec-wcag.xsl
Labels: Techniques, Understanding

#307 H70のAS情報のリンク修正
  wcag20/sources/techniques/html/H70.xml
Labels: Techniques

#309 G81の参考リソースの翻訳
  wcag20/sources/techniques/general/G81.xml
Labels: Techniques

#311 ガイドライン 4.1のコロンや半角スペースの整形
  wcag20/sources/understanding/ensure-compat.xml
Labels: Understanding
