Repository waic/wcag20, pull requests merged in 2018-09, with the labels that each got.

#268 1.4.3の「関連リソース」へのリンクが切れていたので、修正。
  wcag20/sources/understanding/visual-audio-contrast-contrast.xml
Labels: Understanding

#261 文字列「画像化された」の見直し
  wcag20/sources/techniques/css/C22.xml
  wcag20/sources/techniques/css/C30.xml
  wcag20/sources/techniques/failures/F2.xml
  wcag20/sources/techniques/failures/F26.xml
  wcag20/sources/understanding/text-equiv-all.xml
  wcag20/sources/understanding/visual-audio-contrast-contrast.xml
  wcag20/sources/understanding/visual-audio-contrast.xml
Labels: Techniques, Understanding

#265 H91事例1cの調整
  wcag20/sources/techniques/html/H91.xml
Labels: Techniques

#256 .travis.ymlの更新 (dist: preciseの修正)
  .travis.yml
Labels: meta

#260 zoom/scalingの調整
  wcag20/sources/techniques/client-side-script/SCR34.xml
  wcag20/sources/techniques/css/C12.xml
  wcag20/sources/techniques/css/C14.xml
  wcag20/sources/techniques/css/C17.xml
  wcag20/sources/techniques/flash/FLASH33.xml
  wcag20/sources/techniques/general/G131.xml
  wcag20/sources/techniques/general/G142.xml
  wcag20/sources/techniques/general/G178.xml
  wcag20/sources/understanding/visual-audio-contrast-scale.xml
  wcag20/sources/understanding/visual-audio-contrast-visual-presentation.xml
Labels: Techniques, Understanding

#264 音声解説・音声ガイドの見直し
  wcag20/sources/techniques/flash/FLASH26.xml
  wcag20/sources/techniques/general/G173.xml
  wcag20/sources/techniques/general/G203.xml
  wcag20/sources/techniques/general/G78.xml
Labels: Techniques, Understanding

#266 WCAGもくもく会5の訳出見直し
  wcag20/sources/techniques/failures/F25.xml
  wcag20/sources/techniques/general/G1.xml
  wcag20/sources/understanding/navigation-mechanisms-descriptive.xml
  wcag20/sources/understanding/navigation-mechanisms-refs.xml
  wcag20/sources/understanding/navigation-mechanisms.xml
Labels: Techniques, Understanding, WCAGもくもく会
