Repository waic/wcag20, pull requests merged in 2018-06, with the labels that each got.

#209 解説書イントロから不要なかぎ括弧を除去
  wcag20/sources/guide-to-wcag2-src.xml
Labels: Understanding

#179 G131 プラス記号の重複と半角スペースの調整
  wcag20/sources/techniques/general/G131.xml
Labels: Techniques

#180 G158 原文との不一致
  wcag20/sources/techniques/general/G158.xml
Labels: Techniques

#181 G153 原文との不一致
  wcag20/sources/techniques/general/G153.xml
Labels: Techniques

#182 G165 G179 固有名詞の修正
  wcag20/sources/techniques/general/G165.xml
  wcag20/sources/techniques/general/G179.xml
Labels: Techniques

#200 G139の判定基準の修正
  wcag20/sources/techniques/general/G139.xml
Labels: Techniques

#201 G159 チェックポイントの修正
  wcag20/sources/techniques/general/G159.xml
Labels: Techniques

#202 参考リソースを原文に一致
  wcag20/sources/techniques/aria/ARIA1.xml
  wcag20/sources/techniques/aria/ARIA10.xml
  wcag20/sources/techniques/aria/ARIA11.xml
  wcag20/sources/techniques/aria/ARIA12.xml
  wcag20/sources/techniques/aria/ARIA13.xml
  wcag20/sources/techniques/aria/ARIA14.xml
  wcag20/sources/techniques/aria/ARIA15.xml
  wcag20/sources/techniques/aria/ARIA16.xml
  wcag20/sources/techniques/aria/ARIA18.xml
  wcag20/sources/techniques/aria/ARIA19.xml
  wcag20/sources/techniques/aria/ARIA2.xml
  wcag20/sources/techniques/aria/ARIA9.xml
  wcag20/sources/techniques/css/C29.xml
  wcag20/sources/techniques/css/C9.xml
  wcag20/sources/techniques/general/G115.xml
  wcag20/sources/techniques/general/G138.xml
  wcag20/sources/techniques/server-side-script/SVR1.xml
Labels: Techniques

#203 関連する達成方法の修正
  wcag20/sources/techniques/failures/F39.xml
  wcag20/sources/techniques/failures/F65.xml
  wcag20/sources/techniques/failures/F73.xml
Labels: Techniques

#205 F59の注記の修正
  wcag20/sources/techniques/failures/F59.xml
Labels: Techniques

#206 達成方法集の修復
  wcag20/sources/techniques/failures/F52.xml
  wcag20/sources/techniques/general/G123.xml
  wcag20/sources/techniques/general/G178.xml
  wcag20/sources/techniques/html/H49.xml
  wcag20/sources/techniques/pdf/PDF1.xml
  wcag20/sources/techniques/pdf/PDF10.xml
  wcag20/sources/techniques/pdf/PDF9.xml
Labels: Techniques

#210 解説書イントロの重複部分を修正
  wcag20/sources/guide-to-wcag2-src.xml
Labels: Understanding

#216 F93の修正
  wcag20/sources/techniques/failures/F93.xml
Labels: Techniques

#217 F92の修正
  wcag20/sources/techniques/failures/F92.xml
Labels: Techniques

#218 F91の修正
  wcag20/sources/techniques/failures/F91.xml
Labels: Techniques

#219 解説書ガイドライン1.3の修正
  wcag20/sources/understanding/content-structure-separation.xml
Labels: Understanding

#232 readmeのリンクの修正
  README.md
Labels: meta
